.links{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 1px solid #D0D0D0;
  .link{
    width: 40px;
    height: 40px;
    border-right: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #858585;
    &:first-of-type{
      border-radius: 15px 0px 0px 15px;
      background-color: #f1f1f1;
      color: var(--black-color);
    }
    &:last-of-type{
      border-right: none;
      border-radius: 0 15px 15px 0;
      background-color: #f1f1f1;
      color: var(--black-color);
    }
    &.active{
      background-color: var(--secondary-color);
      color: var(--black-color);
    }
    &:hover{
      background-color: var(--secondary-light);

    }
  }
}
