

<div id="email-verify-page">
  <div id="background_circle1"></div>
  <div id="background_circle2"></div>
  <div id="background_line"></div>
  <div class="email-verify">
    <div class="form-container">
      <!-- <a [routerLink]="['/home']" class="home"><i class="material-icons">home</i><span>Home</span></a> -->
      <h1>{{"EMAIL_VERIFY_PAGE.TITLE" | translate}}</h1>
      <p>{{"EMAIL_VERIFY_PAGE.DESCRIPTION" | translate}}</p>
      <div class="btns">
        <button (click)="logoutClicked()">{{"EMAIL_VERIFY_PAGE.LOGOUT" | translate}}</button>
      </div>
      <div class="or">
        <div class="line"></div>
        <span>{{"EMAIL_VERIFY_PAGE.OR" | translate}}</span>
      </div>
      <div class="register_container">
        <span>{{"EMAIL_VERIFY_PAGE.SEND_CODE" | translate}} <a (click)="resendVerification()">{{"EMAIL_VERIFY_PAGE.AGAIN" | translate}}</a></span>
      </div>
    </div>
  </div>
  <div class="response-message"  [ngClass]="responseMessageState == true ? 'visible' : ''">
    <div>
      <button (click)="closeClicked()"><i class="material-icons">close</i></button>
    </div>
    <p>{{responseMessage}}</p>
    <a routerLink="/login">{{"EMAIL_VERIFY_PAGE.TO_LOGIN" | translate}}</a>
  </div>
</div>
<app-loading-overlay *ngIf="isLoading == true"></app-loading-overlay>
