<app-top-nav></app-top-nav>

<div id="email-verify-page">
  <div id="background_circle1"></div>
  <div id="background_circle2"></div>
  <div id="background_line"></div>
  <div class="email-verify">
    <div class="form-container">
      <a [routerLink]="['/home']" class="home"><i class="material-icons">home</i><span>Home</span></a>
      <h1>Verificeer u account.</h1>
      <p>Voordat u verdergaat, Moet u uw e-mailadres verifiëren door op de link te klikken die we u zojuist hebben gemaild? Als u de e-mail niet hebt ontvangen, sturen we u graag een nieuwe.</p>
      <div class="btns">
        <button>Log uit</button>
      </div>
      <div class="or">
        <div class="line"></div>
        <span>of</span>
      </div>
      <div class="register_container">
        <span>Zend code  <a routerLink="#" (click)="resendVerification()">opnieuw</a></span>
      </div>
    </div>
  </div>
  <div class="response-message"  [ngClass]="responseMessageState == true ? 'visible' : ''">
    <div>
      <button (click)="closeClicked()"><i class="material-icons">close</i></button>
    </div>
    <p>{{responseMessage}}</p>
    <a routerLink="/login">Ga naar login</a>
  </div>
</div>
<app-loading-overlay *ngIf="isLoading == true"></app-loading-overlay>
