.myitems-page {
  position: relative;
  min-height: 50vh;
  max-width: calc(100vw - 2rem - 20px);
}

.myitems-page app-loading-overlay-account {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.myitems-page div#wrapper {
  margin-top: 2rem;
}

.myitems-page div#wrapper div {
  width: 100%;
  overflow-x: auto;
}

.myitems-page div#wrapper div table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
}

.myitems-page div#wrapper div table thead {
  background-color: var(--table-head-color);
  border-radius: 15px;
}

.myitems-page div#wrapper div table thead tr th {
  padding: 1rem;
  text-transform: uppercase;
  font-family: montserrat-bold;
  color: var(--white-color);
  font-size: 0.8rem;
}

.myitems-page div#wrapper div table thead tr th:first-child {
  border-top-left-radius: 15px;
}

.myitems-page div#wrapper div table thead tr th:last-child {
  border-top-right-radius: 15px;
}

.myitems-page div#wrapper div table tbody tr {
  height: 100%;
  border-bottom: 1px solid #cecece;
  position: relative;
}

.myitems-page div#wrapper div table tbody tr td {
  text-align: center;
  overflow: hidden;
  font-size: 1rem;
}

.myitems-page div#wrapper div table tbody tr td img {
  margin: 1rem 0;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.myitems-page div#wrapper div table tbody tr td:nth-child(3) {
  color: var(--secondary-color);
  font-family: montserrat-bold;
}

.myitems-page div#wrapper div table tbody tr td:last-child {
  z-index: 0;
}

.myitems-page div#wrapper div table tbody tr td:last-child i {
  cursor: pointer;
}

.myitems-page div#wrapper div table tbody tr td:last-child ul {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: var(--white-color);
  bottom: 0;
  right: 1rem;
  list-style: none;
  padding: 0.2rem;
  border-radius: 5px;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.myitems-page div#wrapper div table tbody tr td:last-child ul li {
  padding: 0.2rem 0.5rem;
  margin: 0 0.4rem;
  border-bottom: 1px solid lightgray;
  text-align: left;
}

.myitems-page div#wrapper div table tbody tr td:last-child ul li a {
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  color: var(--black-color);
}

.myitems-page div#wrapper div table tbody tr td:last-child ul li a:hover {
  color: var(--primary-color);
}

.myitems-page div#wrapper div table tbody tr td:last-child ul.show {
  display: block;
}

.myitems-page div#wrapper div .myitemsEmpty p {
  margin: 2rem 0;
}

.myitems-page div#wrapper div .myitemsEmpty button {
  height: 40px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 15px;
  border: 3px solid var(--primary-color);
  font-size: 1rem;
  font-family: montserrat-bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myitems-page div#wrapper div .myitemsEmpty button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: 3px solid var(--primary-color);
}

.online, .offline {
  border-radius: 15px;
  padding: 0.3rem 0.8rem;
  color: var(--white-color);
}

.online {
  background-color: rgba(0, 131, 0, 0.425);
}

.offline {
  background-color: rgba(255, 0, 0, 0.548);
}

@media screen and (min-width: 800px) {
  .myitems-page div#wrapper div table {
    table-layout: fixed;
  }
  .myitems-page div#wrapper div table tbody tr:last-child ul {
    right: -2rem;
  }
}
/*# sourceMappingURL=my-items.component.css.map */