
<div id="forget-password-page">
  <div id="background_circle1"></div>
  <div id="background_circle2"></div>
  <div id="background_line"></div>
  <div class="forget-password">
    <div class="form-container">
      <!-- <a [routerLink]="['/home']" class="home"><i class="material-icons">home</i><span>Home</span></a> -->
      <h1>Wachtwoord vergeten</h1>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="form">
        <div class="validators">
          <ul *ngFor="let validation of offer_validation_messages.email">
            <li *ngIf="forgetPasswordForm.get('email').hasError(validation.type) && (forgetPasswordForm.get('email').dirty || forgetPasswordForm.get('email').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul>
            <li *ngIf="errorMessage" class="alert alert-danger">
              {{errorMessage}}
            </li>
          </ul>
        </div>

        <label for="email">email</label>
        <input type="text" class="form-control" formControlName="email" name="email"/>

        <div class="btns">
          <button type="submit">Email wachtwoord reset link</button>
        </div>
      </form>
      <div class="or">
        <div class="line"></div>
        <span>of</span>
      </div>
      <div class="back_container">
        <span>Keer terug naar <a routerLink="/login">Login</a></span>
      </div>
    </div>
    <div class="image">
      <div class="bol-image">

      </div>
    </div>
  </div>
  <div class="response-message"  [ngClass]="responseMessageState == true ? 'visible' : ''">
    <div>
      <button (click)="closeClicked()"><i class="material-icons">close</i></button>
    </div>
    <p>{{responseMessage}}</p>
  </div>
</div>
<app-loading-overlay *ngIf="isLoading == true"></app-loading-overlay>



