#items{
  display: grid;
  gap: 15px;
  justify-content: center;
}

@media (min-width: 480px) and (max-width: 1319px) {
  #items{
    grid-template-columns: auto;
  }
}

@media (min-width: 1320px) and (max-width: 1649px) {
  #items{
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1650px){
  #items{
    grid-template-columns: auto auto auto;
  }
}

