.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #8B8B8B;
}

.top input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: var(--nav-font-size);
  font-family: "montserrat-light";
  padding: 0.7rem 0.5rem;
  outline: none;
}

.top button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 30px;
  display: inline-block;
  padding-top: 0.2rem;
}

.top button i {
  color: var(--black-color);
}

.top button:hover i {
  color: var(--primary-color);
}

.filterbalk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid var(--back-color);
  width: 70%;
}

.filterbalk input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: "montserrat-light";
  padding: 0.7rem 0.5rem;
  outline: none;
  color: var(--white-color);
  font-size: .8rem;
}

.filterbalk input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-color);
  opacity: 1;
  /* Firefox */
}

.filterbalk input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-color);
  opacity: 1;
  /* Firefox */
}

.filterbalk input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-color);
  opacity: 1;
  /* Firefox */
}

.filterbalk input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-color);
  opacity: 1;
  /* Firefox */
}

.filterbalk input:focus {
  background-color: #ffffffc5;
  color: var(--black-color);
}

.filterbalk input:focus::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B8B8B;
  opacity: 1;
  /* Firefox */
}

.filterbalk input:focus:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B8B8B;
  opacity: 1;
  /* Firefox */
}

.filterbalk input:focus::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B8B8B;
  opacity: 1;
  /* Firefox */
}

.filterbalk input:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B8B8B;
  opacity: 1;
  /* Firefox */
}

.filterbalk button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 42px;
  display: inline-block;
  padding-top: 0.2rem;
}

.filterbalk button i {
  color: var(--back-color);
}

.filterbalk button:hover i {
  color: var(--secondary-color);
}

.searchterms-container {
  max-height: 51vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--back-color);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 0px 10px -2px #ABABAB;
  box-shadow: 0px 0px 10px -2px #ABABAB;
}

.searchterms-container ul li {
  padding: 0.5rem 1rem;
}

.searchterms-container ul li:hover {
  background-color: var(--primary-color);
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.distance-select {
  width: 20%;
}

.distance-select select {
  width: 100%;
  background-color: transparent;
  display: block;
  height: 43px;
  border: none;
  border-bottom: 2px solid var(--back-color);
  color: var(--white-color);
  text-align: end;
  outline: none;
  font-size: .8rem;
  font-family: montserrat-light;
}

.distance-select select option:not(:first-of-type) {
  color: var(--black-color);
}

.checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.checkbox-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: .5rem 0 0 0;
  gap: 10px;
  margin-right: 10px;
}

div.checkbox-location h5 {
  padding: 0;
  font-family: 'montserrat-light';
  letter-spacing: .05rem;
  font-size: .7rem;
  font-weight: 100;
  color: var(--white-color);
}

div.checkbox-location:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=searchbar.component.css.map */