<div class="offerdetail-page">
  <div class="imageExpand" *ngIf="imageExpand == true">
    <div class="content">
      <button (click)="closeImageClicked()"><i class="material-icons">close</i></button>
      <div class="left" *ngIf="imageArr.length > 1" (click)="imageActiveIndex != 1 &&changeActive(-1)" >
        <i class="material-icons">chevron_left</i>
      </div>
      <div class="right" *ngIf="imageArr.length > 1" (click)="imageActiveIndex != imageArr.length && changeActive(1)" >
        <i class="material-icons">chevron_right</i>
      </div>
      <img src="{{activeImage}}" alt="">
    </div>
  </div>
  <div class="offerdetail-page-container">
    <!-- <p>{{offer.title}}</p>
    <p>{{offer.description}}</p>
    <p>{{offer.category.name}}</p>
    <p *ngFor="let material of offer.materials">{{material.name}}</p>
    <p *ngFor="let submaterial of offer.submaterials">{{submaterial.name}}</p>
    <p *ngFor="let tag of offer.tags">{{tag.name}}</p>
    <p>{{offer.location.steet}} {{offer.location.city}},{{offer.location.country}}</p> -->
    <div class="image-container">
      <div class="head-image">
        <img src="{{activeImage}}" alt="" (click)="imageClicked($event)">
      </div>
      <div class="image-slider">
        <app-image-slider [arr]="imageArr" [activeImage]="activeImage" (imageClickedEvent)="imageSliderClickedEvent($event)"></app-image-slider>
      </div>
    </div>
    <div class="primary-container">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <div class="inpsiratie-row">
        <h3>{{category_name}}</h3>
        <span>
          {{likes}}
          <i class="material-icons fill" (click)="likeClicked()" *ngIf="isFavorite == true">favorite</i>
          <i class="material-icons out" (click)="likeClicked()" *ngIf="isFavorite == false">favorite_outline</i>
        </span>
      </div>
      <div class="material-row" *ngIf="materials.length > 0">
        <h4>Materialen</h4>
        <div class="materials">
          <div *ngFor="let material of materials">
            <p>{{material.name}}</p>
            <ul *ngFor="let submaterial of submaterials">
              <li  *ngIf="submaterial.material_id == material.id">{{submaterial.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tag-row" *ngIf="tags.length > 0">
        <h4>Tags</h4>
        <div>
          <div class="tag-pil" *ngFor="let tag of tags">{{tag.name}}</div>
        </div>
      </div>

    </div>
    <div class="line">
      <div class="accent"></div>
    </div>
    <div class="info-container" *ngIf="location || contact || url">
      <h4>Meer info & contact</h4>
      <table>
        <tr *ngIf="location">
          <td>Adres:</td>
          <td>{{location}}</td>
        </tr>
        <tr *ngIf="contact">
          <td>Contact:</td>
          <td>{{contact}}</td>
        </tr>
        <tr *ngIf="url">
          <td>Link naar info:</td>
          <td><a href="{{url}}">{{url}}</a></td>
        </tr>
      </table>
    </div>
    <div class="locatie-container" *ngIf="location">
      <h4>Locatie op de kaart</h4>
      <app-detail-map [lat_lan] = "Latlan"></app-detail-map>
    </div>
  </div>
  <div class="top_curve"></div>
</div>
<app-footer></app-footer>
