<app-top-nav></app-top-nav>
<div class="offerdetail-page">
  <div class="offerdetail-page-container">
    <!-- <p>{{offer.title}}</p>
    <p>{{offer.description}}</p>
    <p>{{offer.category.name}}</p>
    <p *ngFor="let material of offer.materials">{{material.name}}</p>
    <p *ngFor="let submaterial of offer.submaterials">{{submaterial.name}}</p>
    <p *ngFor="let tag of offer.tags">{{tag.name}}</p>
    <p>{{offer.location.steet}} {{offer.location.city}},{{offer.location.country}}</p> -->
    <div class="image-container">
      <div class="head-image">

      </div>
      <div class="image-slider">

      </div>
    </div>
    <div class="primary-container">
      <h1>Huis gemaakt uit koffie</h1>
      <p>Koffieschillen worden gewoonlijk weggegooid wanneer koffie wordt gebrand. Nu worden ze omgezet in bouwmaterialen. Dit huis gebruikt bouwstenen van koffieschillen.</p>
      <div class="inpsiratie-row">
        <h3>Inpsiratie</h3>
        <span>3 <i class="material-icons">favorite_outline</i></span>
      </div>
      <div class="material-row">
        <h4>Materialen</h4>
        <div class="materials">
          <div>
            <p>organisch</p>
            <ul>
              <li>koffie</li>
            </ul>
          </div>
          <div>
            <p>Voedsel</p>
            <ul>
              <li>koffie</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tag-row">
        <h4>Tags</h4>
        <div>
          <div class="tag-pil">Bouwmaterialen</div>
          <div class="tag-pil">Construction</div>
          <div class="tag-pil">Building material</div>
          <div class="tag-pil">Housing</div>
          <div class="tag-pil">wonen</div>
          <div class="tag-pil">constructiemateriaal</div>
        </div>
      </div>

    </div>
    <div class="info-container">
      <h4>Meer info & contact</h4>
      <table>
        <tr>
          <td>Adres:</td>
          <td>Colombia</td>
        </tr>
        <tr>
          <td>Contact:</td>
          <td>0056/286698969, koffie@colombia.com</td>
        </tr>
        <tr>
          <td>Link naar info:</td>
          <td><a href="">Link</a></td>
        </tr>
      </table>
    </div>
    <div class="locatie-container">
      <h4>Locatie op de kaart</h4>
    </div>
  </div>
  <div class="top_curve"></div>
</div>
<app-footer></app-footer>
