<div id="home" appScroll>

  <div id="filters">
    <app-category-buttons
      [wasteCategoryState] = "wasteCategoryState"
      [inspirationCategoryState] = "inspirationCategoryState"
      [humanCategoryState] = "humanCategoryState"
      [organisationCategoryState] = "organisationCategoryState"
      [technologyCategoryState] = "technologyCategoryState"
      (categoryButtonEvent)="categoryButtonClicked($event)"
    ></app-category-buttons>
    <app-map-radius-filter (filterRadius)="filterRadiusClicked($event)" (annuleerFilterRadius)="annuleerfilterRadiusClicked()"></app-map-radius-filter>
  </div>

  <div class="items_view">
    <app-list-map-view
      [data]="geojsonList"
      [wasteCategoryState] = "wasteCategoryState"
      [inspirationCategoryState] = "inspirationCategoryState"
      [humanCategoryState] = "humanCategoryState"
      [organisationCategoryState] = "organisationCategoryState"
      [technologyCategoryState] = "technologyCategoryState"
      [filterRadius] = "filterRadius"
      (changeCategoryEvent) = "changeCategoryEvent($event)"
    ></app-list-map-view>
  </div>

  <app-footer>
  </app-footer>
  
</div>
