<div id="home">
  <div id="filters">
    <app-category-buttons (categoryButtonEvent)="categoryButtonClicked($event)"></app-category-buttons>
    <app-map-radius-filter (filterRadius)="filterRadiusClicked($event)" (annuleerFilterRadius)="annuleerfilterRadiusClicked()"></app-map-radius-filter>
  </div>
  <app-map
  [jsonData]="listdataInit"
  [radiusFilterValues]="filterRadius"
  [categoryFilter]="categoryFilter"
  [clickedItem]="clickedItem"
  (categoryControlEvent)="mapControlClickedEvent($event)"
  (selectedPointsEvent)="selectedPointsEvent($event)"
  ></app-map>
  <app-list-display
  [listdata]="listdata"
  (clickOnItemEvent)="clickOnItemEvent($event)"
  ></app-list-display>
</div>
