<div id="card">
  <div class="likes" (click)="likeClicked()" *ngIf="view == 'database'">
    <i *ngIf="isLikedbyUser != undefined" class="material-icons out">bookmark</i>
    <i *ngIf="isLikedbyUser == undefined" class="material-icons out">bookmark_outline</i>
    <!-- {{likes}} -->
  </div>
  <div class="likes" *ngIf="view == 'account'">
    <i class="material-icons out">visibility</i>
    {{total_views}}
    <i *ngIf="isLikedbyUser != undefined" class="material-icons out">bookmark</i>
    <i *ngIf="isLikedbyUser == undefined" class="material-icons out">bookmark_outline</i>
    {{likes}}
  </div>
  <img *ngIf="image;else defaultImage" src="{{env_url  + image}}" alt="{{name}}">
  <ng-template #defaultImage>
    <img src="../../../../assets/default_image.png" alt="no image">
  </ng-template>
  <div class="card-content">
    <div class="category-circle" *ngIf="category;else defaultCircle">
      <img *ngIf="category.id === 1" src="../../../assets/category-logos/afval.svg" alt="">
      <img *ngIf="category.id === 2" src="../../../assets/category-logos/inspiratie.svg" alt="">
      <img *ngIf="category.id === 3" src="../../../assets/category-logos/mens.svg" alt="">
      <img *ngIf="category.id === 4" src="../../../assets/category-logos/organisatie.svg" alt="">
      <img *ngIf="category.id === 5" src="../../../assets/category-logos/technologie.svg" alt="">
    </div>
    <ng-template #defaultCircle>
      <div class="category-circle">
        <img src="../../../assets/category-logos/afval.svg" alt="">
      </div>
    </ng-template>
    <h2 [routerLink]="['/offerdetail', id]">{{title}}</h2>
    <p>{{materials}}</p>
    <p>{{locatie_string}}</p>
    <a (click)="linkClicked(id)">{{"CARD.MORE_INFO" | translate}}</a>
  </div>
</div>
