<div id="card">

  <img *ngIf="image;else defaultImage" src="https://backenduyw.yentlbekaert.be/images/{{image}}" alt="{{name}}">
  <ng-template #defaultImage>
    <img src="../../../../assets/default_image.png" alt="no image">
  </ng-template>
  <div class="card-content">
    <!-- <p>{{name}}</p>
    <p>{{category}}</p>
    <p>{{material}}</p>
    <p>{{date}}</p> -->
    <div class="category-circle">
      <img src="../../../assets/category-logos/afval.svg" alt="">
    </div>
    <h2>Titel</h2>
    <p>Material</p>
    <p>Locatie</p>
    <a href="">Meer info</a>
  </div>
</div>
