.account-page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5vh 0;
}

.account-page .top_curve {
  width: 100%;
  padding-bottom: 51%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../assets/layered-waves-haikei2.svg);
  position: absolute;
  top: 0;
  z-index: -10;
}

.account-page .account-page-container {
  background-color: var(--white-color);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1320px;
  border-radius: 15px;
}

.account-page .account-page-container .crumbs {
  display: block;
  padding: 1rem;
}

.account-page .account-page-container .crumbs span {
  padding-right: 0.5rem;
  font-size: 14px;
  display: inline-block;
}

.account-page .account-page-container .crumbs span a {
  color: inherit;
}

.account-page .account-page-container .crumbs span:last-of-type {
  color: var(--secondary-color);
}

.account-page .account-page-container .rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 20px;
}

.account-page .account-page-container .rows .left-colum {
  border-right: 1px solid #e2e2e2;
  padding: 1rem;
  min-height: 70vh;
  display: none;
}

.account-page .account-page-container .rows .left-colum h1 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-family: montserrat-bold;
}

.account-page .account-page-container .rows .left-colum ul {
  list-style: none;
}

.account-page .account-page-container .rows .left-colum ul li {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  margin: 1rem 0;
  font-size: 14px;
  border-radius: 15px;
  color: #AEABAB;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.account-page .account-page-container .rows .left-colum ul li.active {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.account-page .account-page-container .rows .left-colum ul li:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.account-page .account-page-container .rows .right-colum {
  margin: 1rem;
}

.account-page .account-page-container .rows .right-colum h1 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-family: 'montserrat-bold';
}

.account-page .account-page-container .rows .right-colum .mijn-items div, .account-page .account-page-container .rows .right-colum .mijn-favorieten div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-page .account-page-container .rows .right-colum .mijn-items div h1, .account-page .account-page-container .rows .right-colum .mijn-favorieten div h1 {
  font-size: 25px;
  font-family: 'montserrat-bold';
  margin-bottom: 0;
}

.account-page .account-page-container .rows .right-colum .mijn-items div button, .account-page .account-page-container .rows .right-colum .mijn-favorieten div button {
  height: 40px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 15px;
  border: 3px solid var(--primary-color);
  font-size: 1rem;
  font-family: montserrat-bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-page .account-page-container .rows .right-colum .mijn-items div button:hover, .account-page .account-page-container .rows .right-colum .mijn-favorieten div button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: 3px solid var(--primary-color);
}

@media screen and (min-width: 1100px) {
  .account-page .account-page-container .rows {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .account-page .account-page-container .rows .left-colum {
    display: block;
  }
}
/*# sourceMappingURL=account-page.component.css.map */