
<div class="account-page">
  <div class="account-page-container">
     <div class="crumbs">
      <span><a [routerLink]="['/home']">Home</a></span>
      <span>-</span>
      <span><a [routerLink]="['/items/list/0/0/10000/0/0']">Items</a></span>
      <span>-</span>
      <span>Account</span>
      <span>-</span>
      <span>{{active_tab.value}}</span>
     </div>
     <div class="rows">
      <div class="left-colum">
        <h1>Mijn Account</h1>
        <ul #tabs>
          <li *ngFor="let tab of tab_array; let first = first;"  [ngClass]="{'active': first}" (click)="navCLicked(tab.key)">{{tab.value}}</li>
        </ul>
      </div>
      <div class="right-colum">
        <div class="mijn_gegevens" *ngIf="active_tab.key === 1">
          <h1>Mijn gegevens</h1>
          <app-my-profile></app-my-profile>
        </div>

        <div class="mijn-favorieten" *ngIf="active_tab.key === 2">
          <div>
            <h1>Mijn favorieten</h1>
            <button (click)="ontdekClicked()">Ontdek de items</button>
          </div>

          <app-my-favorites></app-my-favorites>
        </div>

        <div class="mijn-items" *ngIf="active_tab.key === 3">
          <div>
            <h1>Mijn items</h1>
            <button (click)="voegtoeClicked()">Voeg toe</button>
          </div>

          <app-my-items></app-my-items>
        </div>


        <div class="instellingen" *ngIf="active_tab.key === 5">
          <h1>Instelingen</h1>
          <app-settings></app-settings>
        </div>

        <div class="loguit" *ngIf="active_tab.key === 6">
          <h1>Log uit</h1>
          <app-logout></app-logout>
        </div>

      </div>
     </div>
   </div>
   <div class="top_curve"></div>
</div>

<app-footer></app-footer>
