.addoffer-page
{
  position: relative;
  width:100%;
  height:100%;
  padding: 5vh 0;
  .top_curve{
    //aspect-ratio: 1920/246;
    width: 100%;
    padding-bottom: 51%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/layered-waves-haikei2.svg);
    position: absolute;
    top: 0;
    z-index: -10;
  }
  .addoffer-page-container{
    background-color: var(--white-color);

    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1320px;
    border-radius: 15px;
    .content{
      padding: 5px;
      margin: 0 auto;
      .crumbs{
        padding: 15px 24px;
        span{
          padding-left:10px;
          font-size: 1rem;
          a{
            color: inherit
          }
          &:first-of-type{
            padding-left:0px;
          }
          &:last-of-type{
            color: var(--secondary-color);
          }
        }
      }
      h1{
        font-family: montserrat-bold;
        margin: 2% 0;
        padding: 0 24px;
      }
      p{
        span{
          color: var(--secondary-color);
        }
        padding: 0 24px;
      }
      div.categories{
        display:  grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: fit-content;
        margin: 3% 0;
        div{
          background-color: var(--black-color);
          text-align: center;
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 70px;
          img{
            padding-top: 10px;
            width: 50%;
          }
          span{
            color: var(--white-color);
          }
          &.active{
            background-color: var(--secondary-color);
          }
          &:hover{
            background-color: var(--secondary-color);
          }
        }
      }
      div.alert-danger{
        color: red;
        background-color: rgba(255, 0, 0, 0.082);
        margin: 2% 0;
        border-radius: 5px;
        padding: 10px 5px;
        font-size: .8rem;
        font-family: montserrat-light;
      }
      .form{
        margin: 2rem 0;
        h2{
          font-family: montserrat-bold;
          margin: 1rem 0;
        }
        p{
          margin: 0 0 5% 0;
          font-size: .8rem;
          padding: 0;
        }
        label{
          text-transform: uppercase;
          color: #AEABAB;
          font-size: .8rem;
        }
        input{
          display: block;
          width: 100%;
          height: 40px;
          margin-bottom: 5%;
          border: none;
          border-bottom: 1px solid #AEABAB;
          outline: none;
          font-size: 1rem;
          font-family: montserrat-light;
          &.alert-danger{
            border-bottom: 1px solid red;
            margin-bottom: 2%;
            font-family: montserrat-light;
          }
        }
        div.alert-danger{
          color: red;
          background-color: rgba(255, 0, 0, 0.082);
          margin-bottom: 2%;
          border-radius: 5px;
          padding: 10px 5px;
          font-size: .8rem;
          font-family: montserrat-light;
        }
        textarea{
          display: block;
          width: 100%;
          margin-bottom: 5%;
          border: none;
          border-bottom: 1px solid #AEABAB;
          outline: none;
          font-size: .8rem;
          font-family: montserrat-light;
          &.alert-danger{
            border-bottom: 1px solid red;
            margin-bottom: 2%;
            font-family: montserrat-light;
          }
        }
        .inputs-select{
          margin: 0 0 2% 0;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr auto;
          gap: 20px;
          &.linked-items{
            padding: 0 24px;
            grid-template-columns: 2fr auto ;
            width:97%;
          }
          &.tag{
            grid-template-columns: 2fr auto ;
            input{
              margin-bottom: 0;
            }
            }
          div{
            position: relative;
            select{
              display: block;
              width: 100%;
              height: 40px;
              margin-bottom: 5%;
              border: none;
              border-bottom: 1px solid #AEABAB;
              outline: none;
              font-size: 1rem;
              font-family: montserrat-light;
            }
            button{

              padding: 1rem 2rem;
              border: none;
              border-radius: 25px;
              text-transform: uppercase;
              font-family: "montserrat-regular";
              font-size: .8rem;
              color: var(--secondary-color);
              background-color: var(--white-color);
              border: 2px solid var(--secondary-color);
                &:hover{
                    background-color: var(--secondary-color);
                    color: var(--white-color);
                }
            }
            .taglist{
              position: absolute;
              background-color: #dfdfdf;;
              padding: 10px;
              z-index: 1;
              width: 100%;
              display: none;
              max-height: 20vh;
              overflow-y: scroll;
              .taglistitem{
                padding: 10px;
                border-bottom: 1px solid var(--grey-border-color);
                font-family: montserrat-light;
                &:hover{
                  background-color: var(--primary-light);
                }
                &.selected{
                  background-color: var(--primary-light);
                }
              }
            }
          }
        }
        .chosed-select{
          display: flex;
          flex-wrap: wrap;
          margin: 0 0 3% 0;
          div{
            margin: 0 10px 10px 0;
            width: fit-content;
            align-items: center;
            display: flex;
            padding: 5px 20px;
            border-radius: 30px;
            color:var(--white-color);
            background-color: var(--secondary-color);
            span{
              padding-right: 10px;
              font-family: montserrat-light;
            }
            i:hover{
              color: red ;
            }
          }
        }
      .image-inputs{
        .fileupload {
          background-image: url("../../assets/upload-icon.png");
          background-repeat: no-repeat;
          background-size: 100px;
          background-position: center;
          background-color: #ffffff;
          height: 200px;
          width: 100%;
          cursor: pointer;
          border: 2px dashed var(--primary-color);
          border-radius: 6px;
          margin-bottom: 25px;
          background-position: center 28px;
          input{
            display: none;
          }
          .ddinfo {
            display: block;
            text-align: center;
            padding-top: 130px;
            color: #a0a1a2;
            font-family: montserrat-light;
          }
        }
        // .image-list {
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: space-evenly;
        //   .image{
        //     display: flex;
        //     flex-wrap: wrap;
        //     width: 20%;
        //     background: var(--primary-light);;
        //     border: 1px solid;
        //     border-radius: 3px;
        //     padding: 10px 10px 10px 15px;
        //     margin-bottom: 10px;
        //     position: relative;
        //
        // }
        .image-list {
          max-width: 100%;
          border: solid 1px #ccc;
          min-height: 60px;
          display: block;
          background: white;
          border-radius: 4px;
          overflow: hidden;
          .image-box {
            padding: 20px 10px;
            border-bottom: solid 1px #ccc;
            color: var(--black-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            cursor: move;
            background: white;
            font-size: .8rem;
            button{
              background-color: var(--white-color);
              border: 0.1px solid var(--grey-border-color);
              outline: none;
              width: 50px;
              height: 50px;
              border-radius: 30px;
              &:hover{
                color:red;
              }
            }
            img{
              width: 100px;
            }
            p{
                line-height: normal;
                padding: 0;
                margin: 0 0 0 14px;
                display: inline-block;
                position: relative;
                top: -2px;
                color: var(--black-color);
                font-size: .8rem;
                text-overflow: ellipsis;
                /* Required for text-overflow to do anything */
                white-space: nowrap;
                overflow: hidden;
            }

            &:last-child{
              border: none;
            }
            &:not(.cdk-drag-placeholder) {
              transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
            }

          }
        }
      }

      .from-bottom{
        margin-top: 5%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 2% 2% ;
        align-items: baseline;
        border-radius: 15px;
        div{
          input{
            display: inline;
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          label{
            color: var(--white-color);
            a{
              color: inherit;
            }
          }
        }
        button{
          justify-self: end;
          width: 100%;
          max-width: 240px;
          border: none;
          height: 50px;
          border-radius: 25px;
          text-transform: uppercase;
          font-family: "montserrat-regular";
          background-color: var(--secondary-color);
          color: var(--white-color);
          border: 2px solid var(--white-color);
            &:hover{
              color: var(--secondary-color);
              background-color: var(--white-color);
              border: 2px solid var(--secondary-color);
            }
          }
      }
    }
  }
}
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  button{
    background-color: var(--white-color);
    border: 0.1px solid var(--grey-border-color);
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    &:hover{
      color:red;
    }
  }
  img{
    width: 100px;
  }
  p{
      line-height: normal;
      padding: 0;
      margin: 0 0 0 14px;
      display: inline-block;
      position: relative;
      top: -2px;
      color: var(--black-color);
      font-size: .8rem;
      text-overflow: ellipsis;
      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-step-label{
  display: none ;
}

@media screen and (min-width: 480px) {
  .addoffer-page{
    .addoffer-page-container{
      .content{
        padding: 20px;
        div.categories{
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          div{
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 70px;
            img{
              padding-top: 10px;
              width: 50%;
            }
            span{
              font-size: 0.8rem;
              padding-top: 5px;
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}

mat-stepper{
  margin: 2rem 0;
}
.mat-horizontal-content-container{
  padding: 0;
}

.label_description{
  margin: 1rem 0;
  display: block;
}

.stepper_buttons{
  margin-top: 5%;
  background-color: var(--secondary-color);
  padding: 2% 2% ;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    padding: 0 !important;
    color: var(--white-color);
  }
  button{
    border: none;
    border-radius: 25px;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-family: "montserrat-regular";
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    font-size: .8rem;
      &:hover{
        color: var(--secondary-color);
        background-color: var(--white-color);
        border: 2px solid var(--secondary-color);
      }
    }
}

.overview_bottom{
  margin-top: 5%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 2% 2% ;
  border-radius: 15px;
  div{
    &.terms{
      input{
        display: inline !important;
        width: 20px !important;
        height: 20px !important;
        margin-right: 10px !important;
      }
      label{
        color: var(--white-color) !important;
        a{
          color: inherit !important;
        }
      }
    }
    button{
      border: none;
      border-radius: 25px;
      padding: .5rem 2rem;
      text-transform: uppercase;
      font-family: "montserrat-regular";
      background-color: var(--secondary-color);
      color: var(--white-color);
      border: 2px solid var(--white-color);
      font-size: .8rem;
        &:hover{
          color: var(--secondary-color);
          background-color: var(--white-color);
          border: 2px solid var(--secondary-color);
        }
      }
  }
}
.lang-selector{
  h2{
    font-family: "montserrat-bold";
     margin: 1rem 0;
  }
  p{
    padding: 0 !important;
    margin: 1rem 0;
  }
  mat-slide-toggle{
    margin: .5rem 0;
    display: block;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooptipCap{
  text-transform: capitalize;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.items_table{
  input{
    width: 1rem  !important;
    height: 100% !important;
    margin-bottom: 0 !important;
  }
}

.lang_title{
  padding-left: 0 !important;
}
.translate_tip{
  font-size: 0.8rem;
}
