
<div id="register-page">
  <div id="background_circle1"></div>
  <div id="background_circle2"></div>
  <div id="background_line"></div>
  <div class="login">
    <div class="form-container">
      <!-- <a [routerLink]="['/home']" class="home"><i class="material-icons">home</i><span>Home</span></a> -->
      <h1>Maak een account aan</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
        <div class="validators">
          <ul *ngFor="let validation of offer_validation_messages.name">
            <li *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul *ngFor="let validation of offer_validation_messages.email">
            <li *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul *ngFor="let validation of offer_validation_messages.password">
            <li *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul *ngFor="let validation of offer_validation_messages.password_confirmation">
            <li *ngIf="registerForm.get('password_confirmation').hasError(validation.type) && (registerForm.get('password_confirmation').dirty || registerForm.get('password_confirmation').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul *ngFor="let validation of offer_validation_messages.terms">
            <li *ngIf="registerForm.get('terms').hasError(validation.type) && (registerForm.get('terms').dirty || registerForm.get('terms').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul>
            <li *ngIf="emailServerError" class="alert alert-danger">
              {{emailServerError}}
            </li>
          </ul>
          <ul>
            <li *ngIf="passwordServerError" class="alert alert-danger">
              {{passwordServerError}}
            </li>
          </ul>
        </div>
        <label for="name">naam</label>
        <input type="text" class="form-control" formControlName="name" name="name"/>

        <label for="email">email</label>
        <input type="text" class="form-control" formControlName="email" name="email"/>

        <label for="password">wachtwoord</label>
        <input type="password" class="form-control" formControlName="password" name="password"/>

        <label for="password_confirmation">bevestig wachtwoord</label>
        <input type="password" class="form-control" formControlName="password_confirmation" name="password_confirmation"/>

        <div class="terms">
          <input type="checkbox" class="form-control terms_input" formControlName="terms" name="terms"/>
          <label for="terms" class="terms_label">Ik ga akkoord met de <a routerLink="/termsofcondition">algemene vooraarden</a></label>
        </div>

        <div class="btns">
          <button type="submit">Maak aan</button>
        </div>
      </form>
      <div class="or">
        <div class="line"></div>
        <span>of</span>
      </div>
      <div class="back_container">
        <span><a routerLink="/login">Log terug in</a></span>
      </div>
    </div>
    <div class="image">
      <div class="logo">
        <img src="../../assets/logo-upcycle-your-waste 1.png" alt="">
      </div>
      <div class="bol-image">

      </div>
    </div>
  </div>
</div>

<app-loading-overlay *ngIf="isLoading == true"></app-loading-overlay>

