<div class="favorites-page">
  <div *ngIf="isLoaded">
    <table *ngIf="userFavorites.length > 0;else favoritesEmpty">
      <thead>
        <tr>
          <th>afbeelding</th>
          <th>name</th>
          <th>categorie</th>
          <th>actie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of userFavorites">
          <td>
            <img *ngIf="offer.images[0]; else default" src="{{url + offer.images[0].filename}}" alt="">
            <ng-template #default> <img src="../../../assets/default_image.png" alt=""></ng-template>
          </td>
          <td><p>{{offer.title}}</p></td>
          <td>{{offer.category.name}}</td>
          <td><a [routerLink]="['/offerdetail', offer.id]">bekijk</a></td>
        </tr>
      </tbody>
    </table>
    <ng-template #favoritesEmpty>
      <div class="favoritesEmpty">
        <p>Er is nog niets aan u favorieten toegevoegd. Ontdek de verschillende items en voeg ze aan u favorieten toe.</p>
      </div>
    </ng-template>
  </div>
  <app-loading-overlay-account *ngIf="isLoaded == false"></app-loading-overlay-account>
</div>
