.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1320px;
}
.main{
  position: relative;
}

h1{
  font-family: "montserrat-bold";
  // font-size: 3.5rem;
  color: var(--black-color);
  span{
    color: var(--primary-color);
  }
}

.section1{
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  color: var(--primary-color);
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1320px;
  .section1-text-content{
    position: fixed;
   // background-color: aqua;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    p#hero-description{
      margin-top: 2rem;
      max-width: 70%;
      font-family: "montserrat-light";
      color: #333333;
    }
    .call-to-actions{
      max-width: 70%;
      margin-top: 5rem;
      display: flex;
      flex-direction: row;

      a.call-to-actions-btn1{
        color: var(--white-color);
        font-family: "montserrat-regular";
        letter-spacing: .05rem;
        text-decoration: none;
        background-color: var(--primary-color);
        padding: 1rem 3rem;
        margin-right: 1rem;
        border-radius: 1rem;
        border: 3px solid var(--primary-color);
        &:hover{
          background-color: var(--back-color);
          text-decoration: underline;
          color: var(--primary-color);
        }
      }
      a.call-to-actions-btn2{
        color: var(--primary-color);
        font-family: "montserrat-bold";
        text-decoration: none;
        padding: 1rem 3rem;
        letter-spacing: .05rem;
        z-index: 0;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .discover-category{
      max-width: 50%;
      margin-top: 5rem;
      text-align: center;
      a{
        color: #656565;
        font-family: "montserrat-light";
        font-size: 0.9rem;
        letter-spacing: .05rem;
        text-decoration: none;
      }
    }
  }
  #aarde_container{
    z-index: -6;
    position: fixed;
    top: 60%;
    left:0;
    // transform: translate(-50%,-50%);
    #aardbol_picture{
     width: 100%;
     height: 100%;
     position: relative;
     z-index: -6;
     img{
      position: absolute;
      transform: translate(-50%,-50%);
      top:50%;
      left:50%;
     }
     img:nth-of-type(1){
      width: 70%;
      z-index: -4;
     }
     img:nth-of-type(2){
      width: 90%;
      z-index: -4;
     }
     img:nth-of-type(3){
      width: 90%;
      z-index: -5;
     }
     .categorie_logo{
      width: 40px;
      height: 40px;
      background-color: var(--secondary-color);
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-content: center;
      flex-direction: column;
      img{
        position: relative;
        transform: translate(0%,0%);
        top:0%;
        left:0%;
        width: 40%;
        height: 40%;
        display: block;
        z-index: 0;
        padding-top: 15%;
        padding-bottom: 5%;
      }
      p{
        display: none;
      }
      &.logo1{
        top:46%;
        left:1%;
      }
      &.logo2{
        top:26%;
        left:6%;
      }
      &.logo3{
        top:10%;
        left:19%;
      }
      &.logo4{
        top:2%;
        left:39%;
      }
      &.logo5{
        top:4%;
        left:61%;
      }
     }
    }

  }

}

.section2{
  background-color: red;
  z-index: 1;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  position: relative;
}

@media screen and (max-width: 680px) {

}

@media screen and (min-width: 680px) {

}

@media screen and (min-width: 850px) {

}

@media screen and (min-width: 1010px) {
  h1{
    font-size: 2.5rem;
  }
  .section1{
    margin: 0 3rem;
    p#hero-description{
      margin-top: 2rem;
      max-width: 70%;
      line-height: 1.2rem;
      font-family: "montserrat-light";
      color: #333333;
      font-size: .8rem;
    }
  }
  .call-to-actions{
    max-width: 70%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    a.call-to-actions-btn1{
      letter-spacing: .05rem;
      padding: 1rem 2rem;
      margin-right: 1rem;
      border-radius: 1rem;
      border: 3px solid var(--secondary-color);
      &:hover{
        background-color: var(--back-color);
        text-decoration: underline;
        color: var(--primary-color);
      }
    }
    a.call-to-actions-btn2{
      color: var(--primary-color);
      font-family: "montserrat-bold";
      text-decoration: none;
      padding: 1rem 3rem;
      letter-spacing: .05rem;
      z-index: 0;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


@media screen and (min-width: 1340px) {
  h1{
    font-size: 3.5rem;
  }
  .section1{
    margin-left: 0 auto;
    .section1-text-content{
      width: 70%;
      p#hero-description{
        margin-top: 2rem;
        max-width: 70%;
        line-height: 1.6rem;
        font-family: "montserrat-light";
        color: #333333;
      }
    }
    #aarde_container{
      z-index: -6;
      position: fixed;
      height: 60vw;
      width: 60vw;
      top: 20vh;
      left: 53vw;
      // transform: translate(-50%,-50%);
      #aardbol_picture{
       width: 100%;
       height: 100%;
       position: relative;
       z-index: -6;
       img{
        position: absolute;
        transform: translate(-50%,-50%);
        top:50%;
        left:50%;
       }
       img:nth-of-type(1){
        width: 70%;
        z-index: -4;
       }
       img:nth-of-type(2){
        width: 90%;
        z-index: -4;
       }
       img:nth-of-type(3){
        width: 90%;
        z-index: -5;
       }
       .categorie_logo{
        width: 8%;
        height: 8%;
        background-color: var(--secondary-color);
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        img{
          position: relative;
          transform: translate(0%,0%);
          top:0%;
          left:0%;
          width: 40%;
          height: 40%;
          display: block;
          z-index: 0;
          padding-top: 15%;
          padding-bottom: 5%;
        }
        p{
          color:white;
          font-size: 0.8rem;
          display: block;
        }
        &.logo1{
          top:46%;
          left:1%;
        }
        &.logo2{
          top:26%;
          left:6%;
        }
        &.logo3{
          top:10%;
          left:19%;
        }
        &.logo4{
          top:2%;
          left:39%;
        }
        &.logo5{
          top:4%;
          left:61%;
        }
       }
      }

    }
  }
}

@media screen and (min-width: 1480px) {
  h1{
    font-size: 3.5rem;
  }
  .section1{
    .section1-text-content{
      width: 50%;
    }
  }
}



.arrows {
  width: 60px;
  height: 72px;
  margin: 2rem auto;
  display: block;
}

.arrows path {
  stroke: #656565;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
