
<div id="reset-password-page">
  <div id="background_circle1"></div>
  <div id="background_circle2"></div>
  <div id="background_line"></div>
  <div class="reset-password">
    <div class="form-container">
      <!-- <a [routerLink]="['/home']" class="home"><i class="material-icons">home</i><span>Home</span></a> -->
      <h1>{{"RESET_PASSWORD_PAGE.TITLE" | translate}}</h1>
      <form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()" class="form">
        <div class="validators">
          <ul *ngFor="let validation of reset_password_validation_messages.email">
            <li *ngIf="resetpasswordForm.get('email').hasError(validation.type) && (resetpasswordForm.get('email').dirty || resetpasswordForm.get('email').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul *ngFor="let validation of reset_password_validation_messages.password">
            <li *ngIf="resetpasswordForm.get('password').hasError(validation.type) && (resetpasswordForm.get('password').dirty || resetpasswordForm.get('password').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul *ngFor="let validation of reset_password_validation_messages.password_confirmation">
            <li *ngIf="resetpasswordForm.get('password_confirmation').hasError(validation.type) && (resetpasswordForm.get('password_confirmation').dirty || resetpasswordForm.get('password_confirmation').touched)" class="alert alert-danger">
              {{validation.message}}
            </li>
          </ul>
          <ul>
            <li *ngIf="emailServerError" class="alert alert-danger">
              {{emailServerError}}
            </li>
          </ul>
          <ul>
            <li *ngIf="passwordServerError" class="alert alert-danger">
              {{passwordServerError}}
            </li>
          </ul>
        </div>
        <input type="hidden" class="form-control" formControlName="token" name="token" value="{{token}}"hidden/>

        <label for="email">{{"RESET_PASSWORD_PAGE.lABEL_EMAIL" | translate}}</label>
        <input type="text" class="form-control" formControlName="email" name="email"/>

        <label for="password">{{"RESET_PASSWORD_PAGE.LABEL_PASSWORD" | translate}}</label>
        <input type="password" class="form-control" formControlName="password" name="password"/>

        <label for="password_confirmation">{{"RESET_PASSWORD_PAGE.LABEL_PASSWORD_CONFIRM" | translate}}</label>
        <input type="password" class="form-control" formControlName="password_confirmation" name="password_confirmation"/>

        <div class="btns">
          <button type="submit">{{"RESET_PASSWORD_PAGE.BUTTON" | translate}}</button>
        </div>
      </form>
    </div>
    <div class="image">
      <div class="logo">
        <img src="../../assets/logo-upcycle-your-waste 1.png" alt="">
      </div>
      <div class="bol-image">

      </div>
    </div>
  </div>
  <div class="response-message"  [ngClass]="responseMessageState == true ? 'visible' : ''">
    <div>
      <button (click)="closeClicked()"><i class="material-icons">close</i></button>
    </div>
    <p>{{responseMessage}}</p>
    <a routerLink="/login">{{"RESET_PASSWORD_PAGE.TO_LOGIN" | translate}}</a>
  </div>
</div>
<app-loading-overlay *ngIf="isLoading == true"></app-loading-overlay>


