
div.categories{
  display:  grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  div{
    background-color: var(--black-color);
    text-align: center;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 70px;
    cursor: pointer;
    img{
      padding-top: 1px;
      width: 85%;
    }
    // span{
    //   display: none;
    //   padding-top: 2px;
    //   font-size: 0.6rem;
    //   color: var(--white-color);
    //   text-transform: capitalize;
    // }
    &.active{
      background-color: var(--secondary-color);
    }

  }
}

@media screen and (min-width: 480px) {
  // div.categories{
  //   div{
  //     width: 50px;
  //     height: 50px;
  //     padding: 10px;
  //     border-radius: 70px;
  //     img{
  //       padding-top: 10px;
  //       width: 50%;
  //     }
  //     // span{
  //     //   font-size: 0.6rem;
  //     //   padding-top: 5px;
  //     //   color: var(--white-color);
  //     // }
  //   }
  // }
}

@media screen and (min-width: 680px) {
  // div.categories{
  //   div{
  //     width: 50px;
  //     height: 50px;
  //     padding: 10px;
  //     border-radius: 70px;
  //     img{
  //       padding-top: 15%;
  //       padding-left: 2%;
  //       width: 70%;
  //     }
  //     // span{
  //     //   display: none;
  //     //   font-size: 0.6rem;
  //     //   padding-top: 5px;
  //     //   color: var(--white-color);
  //     // }
  //   }
  // }
}

@media screen and (min-width: 850px) {
  // div.categories{
  //   div{
  //     width: 100px;
  //     height: 100px;
  //     padding: 10px;
  //     border-radius: 70px;
  //     img{
  //       padding-top: 5px;
  //       width: 50%;
  //     }
  //     span{
  //       display: block;
  //       padding-top: 5px;
  //       color: var(--white-color);
  //       font-size: 1rem;
  //     }
  //   }
  // }
}

/* Tooltip container */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooptipCap{
  text-transform: capitalize;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
