
<p>{{start_items}}-{{stop_items}} van de {{total_items}} resultaten.</p>
<div id="cards">
  <div *ngFor="let item of displayData" class="card">
    <app-card
      [id]="item.id"
      [likes]="item.total_likes"
      [name]="item.title"
      [name_nl]="item.title_nl"
      [name_fr]="item.title_fr"
      [name_en]="item.title_en"
      [images]="item.images"
      [category]="item.category"
      [material]="item.materials"
      [locatie]="item.location"
    ></app-card>
    <!-- <p *ngIf="item.images.length > 0">{{item.images[0].filename}}</p> -->
  </div>
</div>

<!-- [image]="item.properties.image"
[name]="item.properties.name"
[category]="item.properties.category"
[material]="item.properties.material"
[date]="'18-07-1999'" -->
