<div class="tabs" #tabs>
  <div class="tab active" id="1" (click)="tabClicked($event)" [ngClass]="{'large': style === 'large', 'small' : style === 'small'}"><span><img src="../../../../assets/category-logos/icon-list.svg" alt="list"></span> <h5 >{{"ITEMS_PAGE.LIST" | translate}}</h5></div>
  <div class="tab" id="2" (click)="tabClicked($event)" [ngClass]="{'large': style === 'large', 'small' : style === 'small'}"><span><img src="../../../../assets/category-logos/icon-map.svg" alt="map"></span> <h5>{{"ITEMS_PAGE.MAP" | translate}}</h5></div>
  <div class="tab" id="3" (click)="tabClicked($event)" [ngClass]="{'large': style === 'large', 'small' : style === 'small'}"><span><img src="../../../../assets/category-logos/icon-combi.svg" alt="combi"></span><h5>{{"ITEMS_PAGE.COMBI" | translate}}</h5></div>
</div>
