.tabs{
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10%;
  width: 100%;
  .tab{
    background-color: transparent;
    text-align: center;
    color: var(--white-color);
    font-family: "montserrat-regular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span{
      pointer-events: none;
      height: 40px;
      width: 100%;
      border-bottom: 2px solid transparent;
      i{
        font-size: 2.3rem;
      }
    }
    h5{
      padding-top: calc(.5rem - 2px);
      font-family:'montserrat-light';
      letter-spacing: .05rem;
      font-size: .7rem;
      font-weight: 100;
    }
    &.active{
     span{
      border-bottom: 2px solid var(--secondary-color);
     }
    }
    &:hover{
      span{
       border-bottom: 2px solid var(--secondary-color);
      }
     }
    &:nth-child(3){
      visibility: hidden;
    }

 }
}

@media screen and (min-width: 1000px) {
 .tabs{
  .tab:nth-child(3){
    visibility: visible;
  }
 }
}
