<div class="tabs" #tabs>
  <div class="tab active" id="1" (click)="tabClicked($event)" [ngClass]="{'large': style === 'large', 'small' : style === 'small'}"><span><i class="material-icons">grid_view</i></span> <h5 >Lijst</h5></div>
  <div class="tab" id="2" (click)="tabClicked($event)" [ngClass]="{'large': style === 'large', 'small' : style === 'small'}"><span><i class="material-icons">map</i></span> <h5>Kaart</h5></div>
  <div class="tab" id="3" (click)="tabClicked($event)" [ngClass]="{'large': style === 'large', 'small' : style === 'small'}"><span><i class="material-icons">public</i></span><h5>Kaart/Lijst</h5></div>
</div>
