
<h3>{{"ACCOUNT_PAGE.SETTINGS_SUBTITLE1" | translate}}</h3>
<form [formGroup]="updateInfoForm" (ngSubmit)="onSubmit()" class="form">
  <label for="name">{{"ACCOUNT_PAGE.LABEL_NAME" | translate}}</label>
  <input type="text" class="form-control" formControlName="name" name="name"/>
  <label for="email">{{"ACCOUNT_PAGE.LABEL_EMAIL" | translate}}</label>
  <input type="text" class="form-control" formControlName="email" name="email"/>
  <div class="btns" >
    <button type="submit">{{"ACCOUNT_PAGE.SAVE_BUTTON" | translate}}</button>
  </div>
</form>

<h3>{{"ACCOUNT_PAGE.SETTINGS_SUBTITLE2" | translate}}</h3>
<form [formGroup]="updatePassword" (ngSubmit)="onSubmitPassword()" class="form">
  <label for="current_password">{{"ACCOUNT_PAGE.LABEL_CURRENT_PASSWORD" | translate}}</label>
  <input type="password" class="form-control" formControlName="current_password" name="current_password"/>
  <label for="email">{{"ACCOUNT_PAGE.LABEL_NEW_PASSWORD" | translate}}</label>
  <input type="password" class="form-control" formControlName="password" name="password"/>
  <label for="password_confirmation">{{"ACCOUNT_PAGE.LABEL_PASSWORD_COMFIRM" | translate}}</label>
  <input type="password" class="form-control" formControlName="password_confirmation" name="password_confirmation"/>
  <div class="btns" >
    <button type="submit">{{"ACCOUNT_PAGE.SAVE_BUTTON" | translate}}</button>
  </div>
</form>
<h3>{{"ACCOUNT_PAGE.SETTINGS_SUBTITLE3" | translate}}</h3>
<div class="btns deletecont" >
  <button (click)="openDeleteDialog(userData.id)">{{"ACCOUNT_PAGE.DELETE_BUTTON" | translate}}</button>
</div>
