<div class="zoek-form" #zoekform>
  <div class="location">
    <div>
      <input type="text" placeholder="locatie" #textInput>
      <select name="distance" id="distance" #distanceSeletor>
        <option value="50">+50km</option>
        <option value="10">+10km</option>
        <option value="20">+20km</option>
        <option value="30">+30km</option>
        <option value="40">+40km</option>
      </select>
    </div>
  </div>
  <div class="userLocationCheckbox">
    <input type="checkbox" name="use_my_location" id="use_my_location" #userLocationChechekbox> <span for="use_my_location">Gebruik mijn loactie</span>
  </div>
  <div class="more_selection">
    <div>
      <select name="materiaal_filter" id="materiaal_filter" #materialInput>
        <option value="0">materiaal</option>
        <option *ngFor="let material of materials" value="{{material.id}}">{{material.name}}</option>
      </select>
      <button name="more_filters" id="more_filters" (click)="moreFiltersClicked()">Meer filters</button>
      <button id="zoek_button" (click)="searchButtonClicked()"><i class="material-icons">search</i>Zoeken</button>
    </div>
  </div>
</div>

<div class="more_filters" [ngClass]="showMoreFiltes == true ? 'show' : ''">
<button (click)="showMoreFiltes = false">close</button>
</div>

