<div class="nav">
  <div class="top-nav container">
    <div class="logo">
     <a [routerLink]="['/home']">
      <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.20452 6.6665V24.9998C4.05514 24.5415 0 20.703 0 16.005V6.6665L4.57008 10.7342L9.20452 6.6665Z" fill="#90BE97"/>
        <path d="M20.2504 4.21615V15.677C20.2504 20.5463 16.1953 24.5843 11.0459 25V4.21615L15.6803 0L20.2504 4.21615Z" fill="#17823D"/>
      </svg>
      <h1><span>Let's </span><span>Upcycle</span></h1>
     </a>
    </div>
    <div class="menu">
      <div class="menu-responsive-large">
        <div class="links">
          <ul>
            <li [routerLink]="['/home']" routerLinkActive="active"><a>Home</a></li>
            <li [routerLink]="['/items']" routerLinkActive="active"><a>Database</a></li>
            <!-- <li [routerLink]="['/addoffer']" [routerLinkActive]="['active']"><a>Voeg zelf toe</a></li>
            <li [routerLink]="['/account','favorites']" [routerLinkActive]="['active']"><a >Favorieten</a></li> -->
          </ul>
        </div>

        <app-searchbar [placement]="'top'"></app-searchbar>

        <div class="account_container">
          <div class="login" *ngIf="!userLoggedIn">
            <a [routerLink]="['/login']" class="login_knop">login</a>
          </div>
          <div class="login user" *ngIf="userLoggedIn">
            <p (click)="accountButtonClicked()">Welkom {{profile.name}}</p>
            <i class="material-icons">arrow_drop_down </i>
          </div>
        </div>
      </div>
      <div class="menu-responsive-small" (click)="toggleResponsiveNav()">
        <a><i class="material-icons">menu</i></a>
      </div>
    </div>
  </div>
</div>
<div class="responsiveNav" *ngIf="responsiveNavState == true && fullNavState == false">
  <div class="responsiveNavDropdown">
    <ul>
      <li (click)="responsiveNavitemClicked()" [routerLink]="['/home']" routerLinkActive="active"><a>Home</a></li>
      <li (click)="responsiveNavitemClicked()" [routerLink]="['/items','list']" routerLinkActive="active"><a>Database</a></li>
      <!-- <li (click)="responsiveNavitemClicked()" [routerLink]="['/addoffer']" [routerLinkActive]="['active']"><a>Voeg zelf toe</a></li>
      <li (click)="responsiveNavitemClicked()" [routerLink]="['/account','favorites']" [routerLinkActive]="['active']"><a >Favorieten</a></li> -->
      <li *ngIf="!userLoggedIn" (click)="responsiveNavitemClicked()" [routerLink]="['/login']" [routerLinkActive]="['active']"><a >Log In</a></li>
      <li class="account" (click)="responsiveAccountButtonClicked()" *ngIf="userLoggedIn"><a>Account</a><i class="material-icons">add</i></li>
      <ul *ngIf="userLoggedIn && accountresponsiveState == true" class="responsiveAccount">
        <li routerLink="/account/profile" (click)="responsiveNavitemClicked()"><a>Accountoverzicht</a></li>
        <li routerLink="/account/favorites" (click)="responsiveNavitemClicked()"><a>Mijn favorieten</a></li>
        <li routerLink="/account/items" (click)="responsiveNavitemClicked()"><a>Mijn toegevoegde items</a></li>
        <li routerLink="/addoffer" (click)="responsiveNavitemClicked()"><a >Voeg een item toe</a></li>
        <li routerLink="/account/settings" (click)="responsiveNavitemClicked()"><a>Instellingen</a></li>
        <li routerLink="/account/logout" (click)="responsiveNavitemClicked()"><a>Uitloggen</a></li>
      </ul>
    </ul>
  </div>
  </div>


<div class="accountDropdown" *ngIf="accountDropdownState == true && fullNavState == true" (click)="dropdowncontainerClicked()">
<div class="dropdown">
  <ul [ngClass]="accountDropdownState == true && fullNavState == true ? 'visible' : ''">
    <li routerLink="/account/profile"><a>Accountoverzicht</a></li>
    <li routerLink="/account/favorites"><a>Mijn favorieten</a></li>
    <li routerLink="/account/items"><a>Mijn toegevoegde items</a></li>
    <li routerLink="/addoffer"><a>Voeg een item toe</a></li>
    <li routerLink="/account/settings"><a>Instellingen</a></li>
    <li routerLink="/account/logout"><a>Uitloggen</a></li>
  </ul>
</div>
</div>
