<div class="nav">
  <div class="top-nav container">
    <div class="logo">
     <a [routerLink]="['/home']">
      <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.20452 6.6665V24.9998C4.05514 24.5415 0 20.703 0 16.005V6.6665L4.57008 10.7342L9.20452 6.6665Z" fill="#90BE97"/>
        <path d="M20.2504 4.21615V15.677C20.2504 20.5463 16.1953 24.5843 11.0459 25V4.21615L15.6803 0L20.2504 4.21615Z" fill="#17823D"/>
      </svg>
      <h1><span>Let's </span><span>Upcycle</span></h1>
     </a>
    </div>
    <div class="menu">
      <div class="menu-responsive-large">
        <div class="links">
          <ul>
            <li [routerLink]="['/home']" routerLinkActive="active"><a>Home</a></li>
            <li [routerLink]="['/items','list','0','0','10000','0','0']" routerLinkActive="active"><a>Items</a></li>
            <li [routerLink]="['/addoffer']" [routerLinkActive]="['active']"><a>Voeg zelf toe</a></li>
            <li [routerLink]="['/account','favorites']" [routerLinkActive]="['active']"><a >Favorieten</a></li>
          </ul>
        </div>
        <div class="search">
          <input type="text" placeholder="Zoek een item..." #searchInput>
          <button (click)="searchClicked()"><i class="material-icons">search</i></button>
        </div>
        <div class="account_container">
          <div class="login" *ngIf="!userLoggedIn">
            <a [routerLink]="['/login']" class="login_knop">login</a>
          </div>
          <div class="login" *ngIf="userLoggedIn">
            <p (click)="accountButtonClicked()">Welkom Yentl</p>
          </div>
        </div>
      </div>
      <div class="menu-responsive-small">
        <a (click)="toggleResponsiveNav()"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </div>
</div>

<div class="responsiveNav" *ngIf="responsiveNavState == true && fullNavState == false">
  <div class="responsiveNavDropdown">
    <ul>
      <li><a routerLink="/account/profile" (click)="responsiveNavitemClicked()">Accountoverzicht</a></li>
      <li><a routerLink="/account/favorites" (click)="responsiveNavitemClicked()">Mijn Favorieten</a></li>
      <li><a routerLink="/account/items" (click)="responsiveNavitemClicked()">Mijn Toegevoegde Items</a></li>
      <li><a routerLink="/addoffer" (click)="responsiveNavitemClicked()">Voeg een item toe</a></li>
      <li><a routerLink="/account/settings" (click)="responsiveNavitemClicked()">Instellingen</a></li>
      <li><a routerLink="/account/logout" (click)="responsiveNavitemClicked()">Uitloggen</a></li>
    </ul>
  </div>
  </div>


<div class="accountDropdown" *ngIf="accountDropdownState == true && fullNavState == true" (click)="dropdowncontainerClicked()">
<div class="dropdown">
  <ul [ngClass]="accountDropdownState == true && fullNavState == true ? 'visible' : ''">
    <li><a routerLink="/account/profile">Accountoverzicht</a></li>
    <li><a routerLink="/account/favorites">Mijn Favorieten</a></li>
    <li><a routerLink="/account/items">Mijn Toegevoegde Items</a></li>
    <li><a routerLink="/addoffer">Voeg een item toe</a></li>
    <li><a routerLink="/account/settings">Instellingen</a></li>
    <li><a routerLink="/account/logout">Uitloggen</a></li>
  </ul>
</div>
</div>
