/* You can add global styles to this file, and also import other style files */

.user_location_icon{
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  //transition: all 1s
}

body{
  margin: 0;
}
