/* You can add global styles to this file, and also import other style files */
:root {
  --back-color: #F6F6F6;
  --white-color: #ffffff;
  --black-color: #0e1111;
  --primary-color: #42998B;
  --primary-light: #5acfbc91;
  --secondary-color: rgba(255,176,72,1);
  --yellow-gradient: linear-gradient(135deg, rgba(255,252,159,1) 0%, #fcd15c 0%, rgba(255,176,72,1) 100%);
  --yellow-gradient-color: rgba(255,176,72,1);
  --green-gradient: linear-gradient(159deg, rgba(255,242,189,1) 0%, rgba(66,153,139,1) 72%);
  --green-gradient-color: rgba(66,153,139,1);
}

@font-face {
  font-family: "ostrich-black";
  src: local("ostrich"), url(./assets/fonts/ostrich-sans-black.ttf) format("truetype");
}
@font-face {
  font-family: "ostrich-bold";
  src: local("ostrich"), url(./assets/fonts/ostrich-sans-bold.ttf) format("truetype");
}


*{
  margin: 0;
  padding:0;
}
body{
  background-color: var(--back-color);
  font-family: 'Montserrat',sans-serif;
  color:#20292f;
}

.user_location_icon{
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  //transition: all 1s
}

body{
  margin: 0;
}

:after, :before {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
