
<div class="slide-container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}">
    <i class="material-icons">chevron_left</i>
  </div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
      <app-card class="card" *ngFor="let i of data; let index = index" [ngStyle]="{'width': cardWidth}"
      [id]="i.id"
      [likes]="i.total_likes"
      [name]="i.title"
      [images]="i.images"
      [category]="i.category"
      [material]="i.materials"
      [locatie]="i.location"
      ></app-card>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}">
    <i class="material-icons">chevron_right</i></div>
</div>
