<div class="main">
  <div class="section1">
    <div class="intro container">
      <div class="main-intro">
        <div class='left'>
          <div class="top-intro" #topintro>
            <h1>Op zoek naar overtollig <span>afval</span></h1>
            <h1>of <span>inspiratie</span></h1>
            <p>
              De Upcycle Your Waste applicatie brengt u de mogelijkheid om uw overtollig productie materiaal open te stellen voor geïnteresseerde bedrijven/personen. U kan ook zelf inspiratie op doen en eigen business cases delen met anderen.
            </p>
          </div>

          <div class="zoek-form" #zoekform>
            <h2>Zoek op locatie:</h2>
            <div class="location">
              <div>
                <input type="text" placeholder="locatie" #locationInput>
                <select name="distance" id="distance" #distanceSeletor>
                  <option value="10">+10km</option>
                  <option value="20">+20km</option>
                  <option value="30">+30km</option>
                  <option value="40">+40km</option>
                  <option value="50">+50km</option>
                </select>
              </div>
            </div>

            <div class="more_selection">
              <div>
                <select name="category_filter" id="category_filter" #categorieInput>
                  <option value="0">Categorie</option>
                  <option *ngFor="let category of categories_array" value="{{category.key}}">{{category.name | lowercase}}</option>
                </select>
                <select name="materiaal_filter" id="materiaal_filter" #materialInput>
                  <option value="0">Materiaal</option>
                  <option *ngFor="let material of materials" value="{{material.id}}">{{material.name}}</option>
                </select>
                <button (click)="zoekformClicked()"><i class="material-icons">search</i>Zoeken</button>
              </div>
            </div>
          </div>
        </div>

        <div class="earth-drawing right" #earthdrawing>
          <!-- <img src="../../assets/hero-aardbol.svg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="bg-image bg-image1"></div>
    <div class="bg-image bg-image2"></div>
  </div>

  <div class="section2 categorieën">
    <div class="content container">
      <h2>De categorieën</h2>
      <p>Er is van alles te ontdekken in verschillende categorien.
        Druk op een van de categorie knoppen om te ontdekken wat ze inhouden.</p>
     <div class="categorielijn">
      <div class="lijn">

      </div>
      <div class="categories">
        <div *ngFor="let categorie of categories_array; let i = index" class="categorie" id="categorie{{i+1}}" (click)="infoCategoryClicked(categorie.key)">
          <img src="{{categorie.image}}" alt="{{categorie.name}}">
          <span>{{categorie.name}}</span>
        </div>
      </div>
     </div>
     <div class="categorie-info"  [ngClass]="category_info_visible == true ? 'active' : ''">
        <div class="top">
          <h1>{{active_category_info.name}}</h1>
          <span (click)="closeInfoCategoryClicked($event)"><i class="material-icons">close</i></span>
        </div>
        <div class="middle">
          <p>{{active_category_info.description}}</p>
        </div>
        <div class="bottom">
          <button [routerLink]="['/items/list/'+(active_category_info.key)+'/0/0/0/0']" >Ontdek</button>
        </div>
     </div>
    </div>
    <div class="bg-image bg-image3"></div>
  </div>

  <div class="linepart">
    <div class="bg-image bg-image4"></div>
    <div class="section3 meer_info">
      <div class="content container">
        <h2>Hoe werkt het?</h2>
        <div class="HW-cards">
          <div class="HW-card">
            <svg width="96" height="92" viewBox="0 0 96 92" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M42.2548 84.8282L54.0586 84.6543M39.2097 76.4672L56.9156 76.2063M47.9686 67.9322L47.7178 45.5201M56.8215 67.8018L56.7745 63.5995C56.7177 58.5218 62.481 53.6332 66.2162 50.151C71.4813 45.2453 74.2048 38.7186 74.1198 31.1212C73.963 17.1137 62.0835 6.08085 47.2789 6.299C43.7883 6.34119 40.3376 7.038 37.1251 8.34937C33.9126 9.66075 31.0017 11.5608 28.5598 13.9403C26.1178 16.3198 24.1931 19.1318 22.8961 22.2147C21.5991 25.2975 20.9555 28.5904 21.0023 31.9039C21.0843 39.2299 24.0777 46.1119 29.3291 50.6945C33.12 54.0028 39.0113 58.7301 39.0687 63.8604L39.1157 68.0627L56.8215 67.8018Z" stroke="#515050" stroke-opacity="0.8" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M54.6955 42.6152C54.6955 42.6152 50.7596 45.4752 47.7183 45.52C44.6769 45.5648 40.6784 42.8218 40.6784 42.8218" stroke="#777474" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3>Kies een categorie</h3>
            <p>Door een categorie te selecteren, krijg je de data die daar bij past, Zo vind je sneller wat je zoekt</p>
          </div>
          <div class="HW-card middle_card">
            <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_576_8)">
              <path d="M59.3393 22.2877L60.0353 22.5313L60.7229 22.2648L81.9104 14.0517L82 14.0349L82 74.4675C81.9874 74.4767 81.9646 74.4903 81.9275 74.5026L81.9215 74.5047L62 81.2158L62 79.5L62 25L62 23.5485L60.62 23.0985L37.62 15.5985L35 14.7442L35 17.5L35 71L35 72.3931L36.3067 72.876L59.3067 81.376L60.3643 81.7668L60.0124 81.8854L36.6607 73.7123L35.9647 73.4687L35.2771 73.7352L14.0896 81.9483L14 81.9651L14 21.5325C14.0126 21.5233 14.0354 21.5097 14.0725 21.4974L14.0725 21.4974L14.0785 21.4953L35.9876 14.1146L59.3393 22.2877Z" stroke="#777474" stroke-width="4"/>
              </g>
              <defs>
              <clipPath id="clip0_576_8">
              <rect width="96" height="96" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <h3>Zoek op Locatie</h3>
            <p>Wil je items vinden dicht in de buurt zoek dan op locatie. Je kunt een locatie ingeven of uw huidige locatie gebruiken.</p>
          </div>
          <div class="HW-card">
            <svg width="72" height="48" viewBox="0 0 72 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28 44C28 46.2091 29.7909 48 32 48H40C42.2091 48 44 46.2091 44 44V44C44 41.7909 42.2091 40 40 40H32C29.7909 40 28 41.7909 28 44V44ZM4 0C1.79086 0 0 1.79086 0 4V4C0 6.20914 1.79086 8 4 8H68C70.2091 8 72 6.20914 72 4V4C72 1.79086 70.2091 0 68 0H4ZM12 24C12 26.2091 13.7909 28 16 28H56C58.2091 28 60 26.2091 60 24V24C60 21.7909 58.2091 20 56 20H16C13.7909 20 12 21.7909 12 24V24Z" fill="#515050" fill-opacity="0.8"/>
            </svg>
            <h3>Filter verder</h3>
            <p>Maak gebuik van de extra filters om uw zoekresultaten nog meer te verfijnen naar uw wens.</p>
          </div>
        </div>
      </div>
    </div>

   <div class="section4 recent_toegevoegd">
      <div class="content container">
        <div class="accent"></div>
        <h2>Recent toegevoegd</h2>
        <app-card-slider></app-card-slider>
        <div class="btn-cnt">
          <button [routerLink]="['/items/list/1,2,3,4,5,6/0/0/0/0']">Meer Items</button>
        </div>
      </div>
    </div>

   <div class="section5 zelf-toevoegen">
    <div class="bg-image bg-image5"></div>
      <div class="content container">
        <div class="left">
          <h2>Voeg zelf overtollig materiaal toe</h2>
          <p>Wil je zelf je bijdrage bieden door jou overtollige afval aan te bieden, of door inspiratie te geven aan andere.
            Maak dan een account aan en start met toevoegen.</p>
          <a href="">Start met toegevoegen</a>
        </div>
        <div class="right">
          <img src="../../assets/phone.svg" alt="phone.svg">
        </div>
      </div>
      <div class="bg-image bg-image6"></div>
    </div>


    <div class="section6 in_samenwerking_met">
      <div class="content container">
        <h2>Project in samenwerking met</h2>

        <div class="samenwerking">
          <div>
            <img src="../../assets/logo-uyw.png" alt="Upcycle Your Waste">
          </div>
          <div>
            <h3>Upcycle Your Waste</h3>
            <p>Wilt u het afvalbeheer in uw bedrijf verbeteren, kosten besparen en minder vervuilen? Upcycle Your Waste biedt u een gratis stapsgewijs programma op maat. Om daar verbeteringen in te maken is deze site / applicatie opgesteld.</p>
            <button>Meer info</button>
          </div>
        </div>

        <div class="samenwerking middle">
          <div>
            <img src="../../assets/logo_econhuis.png" alt="Economisch huis Oostende">
          </div>
          <div>
            <h3>Economisch huis Oostende</h3>
            <p>Oostende beschikt sinds 1 februari 2008 over een Economisch Huis. Daarmee is het de eerste stad of gemeente in Vlaanderen die deze gratis service aanbiedt aan haar ondernemers. Het Economisch Huis fungeert als aanspreekpunt voor elk bedrijf. Daarnaast zet de vzw creatieve projecten op met openbare besturen, werkgevers- en werknemersorganisaties om het economische leven in het arrondissement Oostende te bevorderen.</p>
            <button>Meer info</button>
          </div>
        </div>

        <div class="samenwerking">
          <div>
            <img src="../../assets/logo-vives.png" alt="Hogeschool Vives">
          </div>
          <div>
            <h3>Hogeschool Vives</h3>
            <p>VIVES heeft campussen in Brugge, Kortrijk, Oostende, Roeselare en Torhout. Daarnaast is Vives sterk in praktijkgericht onderzoek en dienstverlening, waarbij het bedrijven en organisaties oplossingen aanreikt voor diverse complexe vraagstukken.</p>
            <button>Meer info</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>

<!-- <canvas #canvas id="canvas" width="500"></canvas> -->

