<app-top-nav></app-top-nav>
<div class="main">
  <div class="section1">
    <div class="intro container">
      <div class="main-intro">
        <div class='left'>
          <div class="top-intro" #topintro>
            <h1>Op zoek naar overtollig <span>afval</span></h1>
            <h1>of <span>inspiratie</span></h1>
            <p>
              De Upcycle Your Waste applicatie brengt u de mogelijkheid om uw overtollig productie materiaal open te stellen voor geïnteresseerde bedrijven/personen. U kan ook zelf inspiratie op doen en eigen business cases delen met anderen.
            </p>
          </div>

          <div class="zoek-form" #zoekform>
            <h2>Zoek op locatie:</h2>
            <div class="location">
              <div>
                <input type="text" placeholder="locatie">
                <select name="distance" id="distance">
                  <option value="10">+10km</option>
                  <option value="20">+10km</option>
                  <option value="30">+10km</option>
                  <option value="40">+10km</option>
                  <option value="50">+10km</option>
                </select>
              </div>
            </div>

            <div class="more_selection">
              <div>
                <select name="cars" id="cars">
                  <option value="volvo">categorie</option>
                  <option value="volvo">categorie</option>
                </select>
                <select name="cars" id="cars">
                  <option value="volvo">materiaal</option>
                </select>
                <button><i class="material-icons">search</i>Zoeken</button>
              </div>
            </div>
          </div>
        </div>

        <div class="earth-drawing right" #earthdrawing>
          <!-- <img src="../../assets/hero-aardbol.svg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="bg-image bg-image1"></div>
    <div class="bg-image bg-image2"></div>
  </div>

  <div class="section2 categorieën">
    <div class="content container">
      <h2>De categorieën</h2>
      <p>Er is materiaal te ontdekken in verschillende categorien. Druk op een van de knoppen om die te ontdekken.</p>
     <div class="categorielijn">
      <div class="lijn">

      </div>
      <div class="categories">
        <div class="categorie" id="categorie1">
          <img src="../../assets/category-logos/logo1.svg" alt="">
        </div>
        <div class="categorie" id="categorie2">
          <img src="../../assets/category-logos/logo2.svg" alt="">
        </div>
        <div class="categorie" id="categorie3">
          <img src="../../assets/category-logos/logo3.svg" alt="">
        </div>
        <div class="categorie" id="categorie4">
          <img src="../../assets/category-logos/logo4.svg" alt="">
        </div>
        <div class="categorie" id="categorie5">
          <img src="../../assets/category-logos/logo5.svg" alt="">
        </div>
      </div>
     </div>
     <div class="categorie-info">
        <h1>Info</h1>
        <span><i class="material-icons">close</i></span>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
        <button>Ontdek</button>
     </div>
    </div>
    <div class="bg-image bg-image3"></div>
  </div>

  <div class="section3 recent_toegevoegd">



    <div class="content container">
      <h2>Recent toegevoegd</h2>
      <div class="cards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>
  </div>

 <!--  <div class="section4 zelf-toevoegen">
    <div class="content container">
      <h2>Voeg zelf overtollig materiaal toe</h2>
      <p>Wil je zelf je bijdrage bieden door jou overtollige afval aan te bieden, of door inspiratie te geven aan andere.
        Maak dan een account aan en start met toevoegen.</p>
        <a href="">Start met toegevoegen ></a>
    </div>
  </div>

  <div class="section5 meer_info">
    <div class="content container">
    </div>
  </div>

  <div class="section6 in_samenwerking_met">
    <div class="content container">
      <h2>Project in samenwerking met</h2>
      <div class="samenwerking">
        <div>
          <img src="../../assets/default_image.png" alt="Upcycle Your Waste">
        </div>
        <div>
          <h3>Upcycle Your Waste</h3>
          <p>Wilt u het afvalbeheer in uw bedrijf verbeteren, kosten besparen en minder vervuilen? Upcycle Your Waste biedt u een gratis stapsgewijs programma op maat. Om daar verbeteringen in te maken is deze site / applicatie opgesteld.</p>
          <button>Meer info</button>
        </div>
      </div>
      <div class="samenwerking">
        <div>
          <img src="../../assets/default_image.png" alt="Hogeschool Vives">
        </div>
        <div>
          <h3>Hogeschool Vives</h3>
          <p>VIVES heeft campussen in Brugge, Kortrijk, Oostende, Roeselare en Torhout. Daarnaast is Vives sterk in praktijkgericht onderzoek en dienstverlening, waarbij het bedrijven en organisaties oplossingen aanreikt voor diverse complexe vraagstukken.</p>
          <button>Meer info</button>
        </div>
      </div>
    </div>
  </div> -->


</div>
<app-footer></app-footer>

<!-- <canvas #canvas id="canvas" width="500"></canvas> -->

