.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1320px;
}
.main{
  position: relative;
}

.section1{
    width: 100%;
    min-height: calc(100vh - 90px);
    position: relative;
    z-index: 0;
  .intro{
    height: 100%;
    padding-top: 2%;
    .main-intro{
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      .left{
        padding-bottom: 2vh;
        .top-intro{
          padding: 5% 0 0 0;
          h1{
            font-size: 25px;
            font-family: montserrat-bold;
            line-height: 35px;
            span{
              font-family: montserrat-bold;
              font-size: 25px;
              color: var(--primary-color)
            }
          }
          p{
            font-size: 14px;
            padding: 5% 0;
            line-height: 1.5em;
            color: #858585;
            width: 100%;
          }
        }
        .zoek-form{
          border-radius: 15px;
          width: 100%;
          h2{
            color: var(--primary-color);
            padding-bottom: 5%;
            font-size: 20px;
          }
          div.location{
            div{
              border-radius: 15px;
              width: 100%;
              margin: 0 auto;
              padding: 0;
              display: grid;
              grid-template-columns: 4fr 1fr;
              gap: 0px;
              -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.25);
              box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
              input{
                height: 50px;
                border: 0;
                outline: 0;
                padding-left: 10px;
                border-radius: 15px 0 0 15px;
                font-family: montserrat-light;
                text-transform: capitalize;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                  color: var(--black-color);
                  opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                  color: var(--black-color);
                }

                &::-ms-input-placeholder { /* Microsoft Edge */
                  color: var(--black-color);
                }
              }
              select{
                background-color:  var(--white-color);
                color: var(--black-color);
                border: 0;
                border-left: 1px solid lightgrey;
                outline: 0;
                height: 50px;
                box-sizing: content-box;
                border-radius: 0 15px 15px 0;
                font-family: montserrat-light;
                option:first-of-type {
                  color: #AEABAB;
                }
              }
            }
          }
          div.more_selection{
            div{
              border-radius: 15px;
              width: 100%;
              margin: 0 auto;
              padding: 20px 0;
              display: grid;
              grid-template-columns: auto auto auto;
              gap: 10px;
              select{
                max-width: 100%;
                height: 40px;
                border: 0;
                border-radius: 15px;
                padding-left: 10px;
                font-family: montserrat-light;
                outline: 0;
                -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
                text-transform: capitalize;
                option:first-of-type {
                  color: #AEABAB;
                }
              }
              button{
                height: 40px;
                width: 100%;
                padding: 10px 20px;
                background-color: var(--primary-color);
                color:var(--white-color);
                border-radius: 15px;
                border: 3px solid var(--primary-color);
                font-size: 16px;
                font-family: montserrat-bold;
                -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                transition: all 0.3s ease-in-out;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                  i{
                  font-size: 25px;
                }
                &:hover{
                  background-color: var(--white-color);
                  color:var(--primary-color);

                  border-radius: 5px;
                  border: 3px solid var(--primary-color);
                }
              }
            }
          }
        }
      }
      .earth-drawing.right{
          display: block;
          width: 100%;
          padding-top: 30vh;
          overflow: auto;
          background-image: url(../../assets/hero-aardbol.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

      }
    }
  }
}
.section2{

  width: 100%;
  position: relative;
  z-index: 0;
  background: var(--primary-color);
  .content{
    h2,p{
      text-align: center;

      color: var(--white-color)
    }
    h2{
      padding: 5rem 0 0px 0;
            font-size: 2.3rem;
            text-transform: capitalize;
            letter-spacing: 1px;
            font-family: montserrat-bold;
    }
    p{
      padding: 1rem 0 0px 0;
      padding-bottom:10%;
      font-size: 1.3rem;
    }
    .categorielijn{
      position: relative;
      .lijn{

      }
      .categories{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        width: 100%;
        .categorie{
          justify-self: center;
          background-color: var(--secondary-color);
          text-align: center;
          width: 80px;
          height: 80px;
          padding: 10px;
          border-radius: 70px;
          transition: all 0.3s ease-in-out;
          margin-bottom: 20px;
          img{
            padding-top: 5px;
            width: 50%;
          }
          span{
            display: block;
            padding-top: 5px;
            color: var(--white-color);
            font-size: 0.7rem;
          }
        }
      }
    }
    .categorie-info{
      &.active{
        visibility: visible;
        //display: block;
      }

      visibility: hidden;
      //display: none;
      background-color: var(--secondary-color);
      border-radius: 15px;
      margin-top: 10%;
      padding: 20px 30px;
      .top{
        display: flex;
        justify-content: space-between;
        h1{
          display: inline;
          align-self: flex-start;
          color: var(--white-color);
        }
        span{
          align-self: flex-start;
          color: var(--white-color);
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
          &:hover{
            color: var(--secondary-color);
            background-color: var(--white-color);
            border-radius: 30px;
          }
        }

      }
      .middle{
        p{
          padding-bottom: 5%;
          text-align: left;
        }
      }
      .bottom{
        display: flex;
        justify-content: flex-end;
        button{
          padding: 10px 50px;
          border:2px solid var(--secondary-color);;
          border-radius: 30px;
          font-size: 20px;
          font-family: montserrat-bold;
          color: var(--secondary-color);
          background-color: var(--white-color);
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, border-radius 0.3s ease-in-out;
          &:hover{
            background-color: var(--secondary-color);
            color: var(--white-color);
            border:2px solid var(--white-color);
            border-radius: 5px;
          }
        }
      }

    }
  }
}
.linepart{
  position: relative;
}
.section3{
  min-height: 50vh;
  position: relative;
  z-index: 0;
  margin-top: 15%;
  margin-bottom: 10%;
  .content{
    position: relative;
    z-index: 0;
    h2{
      text-align: center;
      margin: 20% 0 5%;
      font-size: 2.3rem;
      letter-spacing: 1px;
      color:#656363;
      font-family: montserrat-bold;
    }
    div.HW-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:5%;
      height: 110%;
      .HW-card{
        text-align: center;
        background-color: var(--white-color);
        height: 100%;
        border-radius: 15px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        padding: 10%;
        h3{
          font-size: 18px;
          color: var(--primary-color);
          font-family: montserrat-bold;
          padding: 10% 0 5% 0;
        }
        p{
          font-size: 14px;
          color: #656363;
        }
        svg{
          width: 50px;
          height: 50px;
        }
        &.middle_card{
          margin-top: 10%;
        }
      }
    }
  }
}
.section4{
  min-height: 50vh;
  position: relative;
  z-index: 0;
  .content{
    border-top: 1px solid #00000034;
    position: relative;
    z-index: 0;
    padding-bottom: 10%;
    .accent{
      width: 117px;
      height: 8px;
      border-radius: 10px;
      background: var(--secondary-color);
      transform: translate(-50%,-50%);
      position: absolute;
      left: 50%;
    }
    h2{
      text-align: center;
      margin: 10% 0 5%;
      font-size: 2.3rem;
      letter-spacing: 1px;
      color:#656363;
      font-family: montserrat-bold;
    }
    div.cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    div.btn-cnt{
      display: flex;
      justify-content: center;
      margin: 5% 0 0%;
      button{
        padding: 10px 50px;
        background-color: var(--white-color);
        color:var(--primary-color);
        border-radius: 15px;
        border: 3px solid var(--primary-color);
        font-size: 16px;
        font-family: montserrat-bold;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: var(--primary-color);
          color:var(--white-color);
          border-radius: 5px;
          border: 3px solid var(--primary-color);
        }
      }
    }
  }
}
.section5{
  position: relative;
  min-height: 60vh;
  width: 100%;
  align-items: center;
  // background-image: url(../../assets/voeg-toe-bg.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;

  .content{
    color: var(--white-color);
    height: fit-content;
    min-height: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left{
      h2,p,a{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
      }
      h2{
        display: block;
        font-size: 2.3rem;
        letter-spacing: 1px;
      }
      p{
        margin-bottom: 20px;
        font-size: 1.3rem
      }
      a{
        display: block;
        width: fit-content;
        margin-top: 40px;
        margin-left: 30px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        padding: 10px 50px;
        background-color: var(--white-color);
        border: 3px solid var(--white-color);
        color:var(--primary-color);
        border-radius: 15px;

        font-size: 16px;
        font-family: montserrat-bold;

        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: var(--primary-color);
          color:var(--white-color);
          border-radius: 5px;
          border: 3px solid var(--white-color);
        }
      }
    }
    .right{
      justify-self: flex-end;
      align-self: center;
      img{
        width: 90%;
      }
    }
  }

}
.section6{
  min-height: 50vh;
  margin-bottom: 10%;
  .content{
    display: grid;
    grid-template-rows: 1fr;

    h2{
      text-align: center;
      margin: 10% 0 5%;
      font-size: 2.3rem;
      letter-spacing: 1px;
      color:#656363;
      font-family: montserrat-bold;
    }
   .samenwerking{
    min-height: 350px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 30px 0;
    background-color: var(--white-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width:80%;
    border-radius: 15px;
    &.middle{
      justify-self: end;
    }
    div:first-child{
      width: 80%;
      height: 80%;
      align-self: center;
      justify-self: center;
      img{
        border-radius: 15px;
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: contain;
      }
    }
    div:last-child{
      align-self: center;
      padding: 20px 20px 20px 40px;
      border-left: 1px solid #00000034;
      h3{
        margin-bottom: 20px;
        font-family: montserrat-bold;
        font-size: 25px;
      }
      p{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
      }
      button{
        margin-top: 20px;
        padding: 7px 50px;
          background-color: var(--white-color);
          color:var(--primary-color);
          border-radius: 15px;
          border: 3px solid var(--primary-color);
          font-size: 16px;
          font-family: montserrat-bold;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          transition: all 0.3s ease-in-out;
          &:hover{
            background-color: var(--primary-color);
            color:var(--white-color);
            border-radius: 5px;
            border: 3px solid var(--primary-color);
          }
      }
    }
   }
  }
}


.bg-image{
  position: absolute;
  &.bg-image1{
    width: 100%;
    bottom: 0%;
    padding-top: 45%;
    z-index: -1;
    background-image: url(../../assets/Vector4.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.bg-image2{
    width: 100%;
    bottom: -1%;
    padding-top: 20%;
    z-index: -1;
    background-image: url(../../assets/Vector3.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.bg-image3{
    width: 100%;
    top: 0%;
    padding-top: 90vh;
    z-index: -1;
    background-image: url(../../assets/backgrounds/vector-section2-2-groot2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.bg-image4{
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1640px;
    top: 45%;
    left: 50%;
    height: 100%;
    z-index: -1;
    background-image: url(../../assets/Long-line.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.bg-image5{
    width: 100%;
    top: -7%;
    padding-top: 15%;
    z-index: -1;
    background-image: url(../../assets/backgrounds/voeg_toe_top.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &.bg-image6{
    width: 100%;
    bottom: -7%;
    padding-top: 15%;
    z-index: -1;
    background-image: url(../../assets/backgrounds/voeg_toe_bottom.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-height: 800px) and (max-width: 680px) {
  .section1{
    .intro{
      .main-intro{
        .earth-drawing.right{
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .section1{
    .intro{
      min-height: 80vh;
      .main-intro{
        display: grid;
        grid-template-columns: 1fr;
        .left{
          .top-intro{
            padding: 2vh 0 0 0;
            h1{
              font-size: 50px;
              line-height: 50px;
              span{
                font-size: inherit;
              }
            }
            p{
              display: block;
              font-size: 0.9rem;
              padding: 5% 0;
              width: 80%;
            }
          }
          .zoek-form{
            width: 80%;
            .more-selection{
              div{
                button{
                  padding: 10px 50px;
                }
              }
            }

          }
        }
      }
    }
  }
  .section2{

    .content{
      p{
        padding-bottom:10%;
      }
      .categorielijn{
        .lijn{
          width: 100%;
          height: 200px;
          background-image: url(../../assets/Vector6.svg);
          background-position: top center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .categories{
          position: absolute;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          width: 100%;
          top:-30%;
          .categorie{
            width: 80px;
            height: 80px;
            border-radius: 90px;
            &#categorie1{
              margin-top: 20%;
            }
            &#categorie2{
              margin-top: 55%;
            }
            &#categorie3{
              margin-top: 130%;
            }
            &#categorie4{
              margin-top: 30%;
            }
            &#categorie5{
              margin-top: 20%;
            }
            img{
              padding-top: 12px;
            }
            span{
              font-size: 0.7rem;
            }
            &:hover{
              img{
                transition: width 0.3s ease-in-out;
                width: 55%;
              }
            }
          }
        }
      }

    }
  }
  .section3{
    .content{
      div.HW-cards{
        .HW-card{
          height: 80%;
          h3{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
          svg{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  .bg-image{
    &.bg-image1{
      bottom: 0%;
      padding-top: 45%;

    }
    &.bg-image2{
      bottom: -1%;
      padding-top: 30%;
    }
    &.bg-image3{
      top: 5%;
      padding-top: 80vh;
    }
    &.bg-image5{
      top: -10%;
    }
    &.bg-image6{
      bottom: -10%;
    }
  }
}

@media screen and (min-width: 850px) {
  .section1{
    .intro{
      .main-intro{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        .left{
          .top-intro{
            padding: 10vh 0 0 0;
            h1{
              font-size: 2.5rem;

            }
            p{
              display: block;
              font-size: 0.9rem;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  .section2{
    .content{
      .categorielijn{
        .lijn{
        }
        .categories{
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          .categorie{
            width: 100px;
            height: 100px;
            border-radius: 90px;
            &#categorie1{
              margin-top: 25%;
            }
            &#categorie2{
              margin-top: 30%;
            }
            &#categorie3{
              margin-top: 110%;
            }
            &#categorie4{
              margin-top: 10%;
            }
            &#categorie5{
              margin-top: 30%;
            }
            img{
              padding-top: 12px;
            }
            span{
              font-size: 0.8rem;
            }
            &:hover{
              img{
                width: 55%;
              }
            }
          }
        }
      }

    }
  }

  .section3{
    .content{
      div.HW-cards{
        .HW-card{
          h3{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
          svg{
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }

  .bg-image{
    &.bg-image1{
      bottom: 0%;
      padding-top: 45%;

    }
    &.bg-image2{
      bottom: -1%;
      padding-top: 17%;
    }
    &.bg-image3{
      top: 0%;
      padding-top: 90vh;
    }
    &.bg-image4{
     // top: 49%;
    }
    &.bg-image5{
      top: -12%;
    }
    &.bg-image6{
      bottom: -12%;
    }
  }

}
@media screen and (min-width: 1010px) {
  .section1{
    .intro{
      .main-intro{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        .left{
          .top-intro{
            padding: 10vh 0 0 0;
            h1{
              font-size: 2.5rem;
            }
            p{
              display: block;
              font-size: 0.9rem;
              padding: 10px 0;
            }
          }
        }
        .earth-drawing.right{
          background-position: top center;
        }
      }
    }
  }

  .section2{
    .content{
      .categorielijn{
        .lijn{
        }
        .categories{
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          .categorie{
            width: 130px;
            height: 130px;
            border-radius: 90px;
            &#categorie1{
              margin-top: 25%;
            }
            &#categorie2{
              margin-top: 10%;
            }
            &#categorie3{
              margin-top: 80%;
            }
            &#categorie4{
              margin-top: 10%;
            }
            &#categorie5{
              margin-top: 30%;
            }
            img{
              padding-top: 12px;
            }
            span{
              font-size: 0.9rem;
            }
            &:hover{
              img{
                width: 55%;
              }
            }
          }
        }
      }

    }
  }

  .section3{
    .content{
      div.HW-cards{
        .HW-card{
          h3{
            font-size: 25px;
          }
          p{
            font-size: 16px;
          }
          svg{
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .bg-image{
    &.bg-image1{
      bottom: -30%;
      padding-top: 45%;

    }
    &.bg-image2{
      bottom: -1%;
      padding-top: 17%;
    }
    &.bg-image3{
      top: 0%;
      padding-top: 100vh;
    }
    &.bg-image4{

    }
    &.bg-image5{
      top: -15%;
    }
    &.bg-image6{
      bottom: -15%;
    }
  }
}

@media screen and (min-width: 1340px) {
  .section1{
    .intro{
      .main-intro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .left{
          .top-intro{
            padding: 2vh 0 0 0;
            h1{
              font-size: 70px;
              line-height: 70px;
              font-size: 60px;
              span{
                font-size: inherit;
              }
            }
            p{
              display: block;
              font-size: 0.9rem;
              padding: 5% 0;
            }
          }
        }
        .earth-drawing.right{
          display: block;
          background-image: url(../../assets/hero-aardbol.svg);
          background-position: 50% 100%;
          background-size: 90%;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .section2{
    .content{
      .categorielijn{
        .lijn{
        }
        .categories{
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          .categorie{
            width: 130px;
            height: 130px;
            border-radius: 90px;
            &#categorie1{
              margin-top: 30%;
            }
            &#categorie2{
              margin-top: 1%;
            }
            &#categorie3{
              margin-top: 70%;
            }
            &#categorie4{
              margin-top: 0%;
            }
            &#categorie5{
              margin-top: 25%;
            }
            img{
              padding-top: 12px;
            }
            span{
              font-size: 1rem;
            }
            &:hover{
              img{
                width: 55%;
              }
            }
          }
        }
      }

    }
  }

  .bg-image{
    &.bg-image1{
      bottom: -30%;
      padding-top: 45%;
    }
    &.bg-image2{
      bottom: -1%;
      padding-top: 17%;
    }
    &.bg-image3{
      top: 0%;
      padding-top: 110vh;
    }
    &.bg-image4{
      top: 44%;
    }
    &.bg-image5{
      top: -20%;
    }
    &.bg-image6{
      bottom: -20%;
    }
  }
}

