<footer>
  <div class="background-overlay"></div>
  <div class="footer-container">
      <div class="col-1">
        <h3>{{"FOOTER.TITLE1" | translate}}</h3>
        <ul>
          <li><a [routerLink]="['/login']">{{"FOOTER.LOG_IN" | translate}}</a></li>
          <li><a [routerLink]="['/register']">{{"FOOTER.REGISTER" | translate}}</a></li>
          <li><a [routerLink]="['/account','item']">{{"FOOTER.MY_ITEMS" | translate}}</a></li>
          <li><a [routerLink]="['/account','favorites']">{{"FOOTER.MY_FAVORTITES" | translate}}</a></li>
          <li><a [routerLink]="['/account','settings']">{{"FOOTER.SETTINGS" | translate}}</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h3>{{"FOOTER.TITLE2" | translate}}</h3>
        <ul>
          <li><a href="/home">{{"FOOTER.INFO" | translate}}</a></li>
          <li><a href="">{{"FOOTER.QUESTIONS" | translate}}</a></li>
          <li><a href="">{{"FOOTER.CONTACT_US" | translate}}</a></li>
          <li><a href="">{{"FOOTER.FEEDBACK" | translate}}</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3>{{"FOOTER.TITLE3" | translate}}</h3>
        <p>{{"FOOTER.DOWNLOAD" | translate}}</p>
        <div class="logos">
          <div class="applogo">
            <img src="../../../assets/applogo.png" alt="">
          </div>
          <div class="storelogos">
            <img src="../../../assets/appstore button.png" alt="">
            <img src="../../../assets/playstore button.png" alt="">
          </div>
        </div>
      </div>
  </div>
  <div class="footer_bottom">
    <p>Copyright © 2022 Upcycleyourwaste.be - Yentl Bekaert - VIVES</p>
    <p><a routerLink="/termsofcondition">{{"FOOTER.CONDITIONS" | translate}}</a> - {{"FOOTER.COOKIE" | translate}} - {{"FOOTER.PRIVACY" | translate}} - {{"FOOTER.PRIVACY_CONDITIONS" | translate}}</p>
  </div>
</footer>
