<footer>
  <div class="background-overlay"></div>
  <div class="footer-container">
      <div class="col-1">
        <h3>Mijn upcycle your waste</h3>
        <ul>
          <li><a [routerLink]="['/account','profile']">Inloggen</a></li>
          <li><a [routerLink]="['/register']">Registreren</a></li>
          <li><a [routerLink]="['/account','item']">Mijn items</a></li>
          <li><a [routerLink]="['/account','favorites']">Mijn favorieten</a></li>
          <li><a [routerLink]="['/account','settings']">Instellingen</a></li>
        </ul>
        <p>Copyright © 2022 door Upcycleyourwaste.com</p>
        <p>Gebruiksvoorwaarden - Cookiebeleid - Privacy beleid - Privacy voorkeuren beheren</p>
      </div>
      <div class="col-2">
        <h3>Over upcycle your waste</h3>
        <ul>
          <li><a href="">Algemene Info</a></li>
          <li><a href="">Veel gestelde vragen</a></li>
          <li><a href="">Contacteer ons</a></li>
          <li><a href="">Geef je feedback</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3>upcycle your waste app</h3>
        <p>Download de app uit de Playstore of Appstore.</p>
        <div class="logos">
          <div class="applogo">
            <img src="../../../assets/applogo.png" alt="">
          </div>
          <div class="storelogos">
            <img src="../../../assets/appstore button.png" alt="">
            <img src="../../../assets/playstore button.png" alt="">
          </div>
        </div>
      </div>

  </div>
</footer>
